.App {
  text-align: center;
}

.flex-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: stretch;
 align-content: space-around;
  }

.product{
  border: 1px solid black;
  width:auto;
  height: auto;
  padding:20px;
}
